$fontfamily:'Times New Roman', Times, serif;
$h1fontsize:6em;
$pfontsize:2em;
$sizes: (
    xs: 10px,
    sm: 12px,
    md: 16px,
    lg: 24px,
    xl: 36px,
  );
  @mixin title-big {
    color:$light ;
    font-size:$h1fontsize;
  }
  h1 {
    @include title-big;
    padding: 10px;
  }
  p{
    font-size: $pfontsize;
  }
  a {
    text-decoration: none;
    color:$light;
  }
  .all{
    width: 45%;
  }