$widthlogo:100px;
$widthmainimg:40%;

.logo img{
    width: $widthlogo;
}
@mixin float {
    width:$widthmainimg ;
  }
  .headline img{
    @include float;
    padding: 10px;
    position: relative;
    bottom: -48px;
  }
    .headline {
    display:$flex;
    flex-direction: column;
    align-items: center;
  }
  .img-header{
    display:$flex;
    justify-content: flex-end;
  }
  
 