$flex:flex;
$paddingNav: 15px;
$margin:4em;
$radius:15px;
$pPadding:2em;

nav{
    display:$flex;
    justify-content: space-between;
    padding: $paddingNav;
}
header{
    margin-bottom:$margin;
}
@mixin immagini{
    border-radius: $radius;
  }
  img {
    @include immagini;
  }


